

.maze-wrapper {
}

.maze {
  background-color: #555;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
  padding-bottom: 5px;
}

.maze .item {
  /* background-color: green; */
  padding: 5px 5px 0px 0px;
  padding-left: 0;
}

.maze .item::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.maze .start.item::after {
  background-color: blue;
}

.maze .end.item::after {
  background-color: purple;
}

.maze .brick.item::after {
  background-color: orange;
}

.maze .danger.item::after {
  background-color: red;
}

.maze .path-node.item::after {
  background-color: cyan;
}
